
<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="#contacts">Contact manager</a>
    <div class="nav-collapse collapse">
      <ul class="nav"></ul>
    </div>
  </div>
</div>
